<h1>Book Detail</h1>

<div class="panel panel-primary">
    <div class="panel-heading">{{book.name}}</div>
    <div class="panel-body">
        <h4>{{book.author}}</h4>
        <h4>$ {{book.price}}</h4>
    </div>
    <div class="panel-footer">{{book.lastUpdated}}</div>
</div>
<div class="row">
    <div class="col-md-5">
        {{#if book.reviews}}
        <h1>Reviews</h1>
        {{else}}
        <h3>Be the first one to review</h3>
        {{/if}} 
        
        {{#each book.reviews}}
        <div>
            <h3>{{name}} {{rating}} *</h3>
            <b>{{subject}}</b>
            <p>{{message}}</p>
            <div>{{lastUpdated}}</div>
            <hr/>
        </div>
        {{/each}}
    </div>
</div>